body{
  margin: 0;
  padding: 0;
}

h2{
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(158, 67, 243);
}

input:disabled + .button{
  background-color: gray; 
}

input:disabled:hover + .button{
  background-color: gray; 
}

.button svg {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  z-index:1;
}

.button .tick {
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  z-index:0;
}

input:focus + .button {
  background-color: #371141;
}

input:hover + .button {
  background-color: rgb(187, 159, 201);
}

input:hover + input:checked +.button {
  background-color: rgb(187, 159, 201);
}

input:checked + .button .cross {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .button .tick {
  display: block;
  z-index:2;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.button.round {
  border-radius: 34px;
}

.button.round:before {
  border-radius: 50%;
}